
@font-face {
    font-family: 'rsubold';
    src: url('../rangsit/rsu_bold-webfont.woff2') format('woff2'),
         url('../rangsit/rsu_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'rsulight';
    src: url('../rangsit/rsu_light-webfont.woff2') format('woff2'),
         url('../rangsit/rsu_light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'rsuregular';
    src: url('../rangsit/rsu_regular-webfont.woff2') format('woff2'),
         url('../rangsit/rsu_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body p {
    font-size: 18px;
    line-height: 29px;
}
body {
    color: #687178;
    font-size: 18px;
}
p, a ,span, h4 {
    font-family: 'rsuregular', sans-serif;

}
.headline.centered {
    font-family: 'rsubold', sans-serif;
}
.headline span {
    font-size: 18px;
    color: #687178;
}
#header {
    font-size: 17px;
}
button.button, input[type="button"], input[type="submit"], a.button.border, a.button {
    font-size: 17px;
}
#titlebar h1, #titlebar h2 {
    font-family: 'rsubold';
}
.rev_slider{
    font-family: 'rsuregular', sans-serif;
}
body, h1, h2, h3, h4, h5, h6, input[type="text"], input[type="password"], input[type="email"], textarea, select, input[type="button"], input[type="submit"], button, #tiptip_content, .map-box p, .map-box div, .numerical-rating .rating-counter, body .menu-responsive i.menu-trigger:after {
    font-family: "rsuregular", "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: none;
}
.post-content h3{
    font-family: 'rsubold';
}
.post-meta li {
    font-family: 'rsuregular', sans-serif;
}
blockquote {
    font-size: 15px;
    font-family: 'rsuregular', sans-serif;
}
h2.headline{
    font-family: 'rsuregular', sans-serif;
}
.widget h3{
    font-family: 'rsubold', sans-serif;
}
.icon-box-2 h3 {
    font-family: 'rsubold', sans-serif;
}
.listing-item-content h3 {
    font-family: 'rsubold', sans-serif;
}
.blog-compact-item-content h3 {
    color: #fff;
    font-size: 18px;
    font-family: 'rsuregular', sans-serif;
}
.comment-by-listing a:hover, .browse-all-user-listings a i, .hosted-by-title h4 a:hover, .style-2 .trigger.active a, .style-2 .ui-accordion .ui-accordion-header-active:hover, .style-2 .ui-accordion .ui-accordion-header-active, #posts-nav li a:hover, .plan.featured .listing-badge, .post-content h3 a:hover, .add-review-photos i, .show-more-button i, .listing-details-sidebar li a, .star-rating .rating-counter a:hover, .more-search-options-trigger:after, .header-widget .sign-in:hover, #footer a, #footer .footer-links li a:hover, #navigation.style-1 .current, #navigation.style-1 ul li:hover a, .user-menu.active .user-name:after, .user-menu:hover .user-name:after, .user-menu.active .user-name, .user-menu:hover .user-name, .main-search-input-item.location a:hover, .chosen-container .chosen-results li.highlighted, .input-with-icon.location a i:hover, .sort-by .chosen-container-single .chosen-single div:after, .sort-by .chosen-container-single .chosen-default, .panel-dropdown a:after, .post-content a.read-more, .post-meta li a:hover, .widget-text h5 a:hover, .about-author a, a.button.border.white:hover, .icon-box-2 i, a.button.border, .style-2 .ui-accordion .ui-accordion-header:hover, .style-2 .trigger a:hover, .plan.featured .listing-badges .featured, .list-4 li:before, .list-3 li:before, .list-2 li:before, .list-1 li:before, .info-box h4, .testimonial-carousel .slick-slide.slick-active .testimonial:before, .sign-in-form .tabs-nav li a:hover, .sign-in-form .tabs-nav li.active a, .lost_password:hover a, #top-bar .social-icons li a:hover i, .listing-share .social-icons li a:hover i, .agent .social-icons li a:hover i, #footer .social-icons li a:hover i, .headline span i {
    color: #00336E;
}
a.button.border {
    color: #00336E;
    border-color: #00336E;
}
.qtyTotal,
.mm-menu em.mm-counter,
.option-set li a.selected,
.category-small-box:hover,
.pricing-list-container h4:after,
#backtotop a,
.chosen-container-multi .chosen-choices li.search-choice,
.select-options li:hover,
button.panel-apply,
.layout-switcher a:hover,
.listing-features.checkboxes li:before,
.comment-by a.reply:hover,
.add-review-photos:hover,
.office-address h3:after,
.post-img:before,
button.button,
input[type="button"],
input[type="submit"],
a.button,
a.button.border:hover,
table.basic-table th,
.plan.featured .plan-price,
mark.color,
.style-4 .tabs-nav li.active a,
.style-5 .tabs-nav li.active a,
.dashboard-list-box .button.gray:hover,
.change-photo-btn:hover,
.dashboard-list-box  a.rate-review:hover,
input:checked + .slider,
.add-pricing-submenu.button:hover,
.add-pricing-list-item.button:hover,
.custom-zoom-in:hover,
.custom-zoom-out:hover,
#geoLocation:hover,
#streetView:hover,
#scrollEnabling:hover,
#scrollEnabling.enabled,
#mapnav-buttons a:hover,
#sign-in-dialog .mfp-close:hover,
#small-dialog .mfp-close:hover {
    background-color: #00336E;
}
.shop.rev_slider .slotholder:after, .home.rev_slider .slotholder:after {
    width: 100%;
    height: 100%;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
    /* background: rgba(38, 38, 38, 0.5); */
    background-color: #303133;
    opacity: 0;
    z-index: 9999;
}

.tp-caption .caption-text {
    z-index: 7;
    white-space: normal;
    letter-spacing: 0;
    opacity: 0.85;
    font-size: 22px;
    line-height: 37px;
    color: #717a82;
}
.zeus .tp-title-wrap {
    background: #1397ba;
    width: 120%;
    height: 120%;
    top: 0;
    position: absolute;
    opacity: 0;
}
.logo-slick-carousel div.item img {
    height: 45px;
    display: inline-block;
}
h2.headline span {
    font-size: 20px;
    line-height: 37px;
}
.text_sub_index{
    font-size: 20px;
    line-height: 37px;
    color: #666;
    font-weight: 300;
    display: block;
    font-family: 'rsuregular', sans-serif;
}

.promt{
    font-size: 26px !important;
    font-family: 'rsuregular', sans-serif;
}
.sidebar-textbox ul.contact-details li a {
    color: #00336E;
}
#footer {
    font-size: 16px;
}
#footer p{
    font-size: 16px;
}
.regis{
    color: #00336E;
}
.theme-login-social-separator {
    margin-bottom: 20px;
    position: relative;
}
.theme-login-social-separator:before {
    content: '';
    height: 1px;
    width: 100%;
    position: absolute;
    left: 0;
    top: 50%;
    background: #000;
    z-index: 1;
    opacity: 0.17;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=17)";
    filter: alpha(opacity=17);
}
.theme-login-social-separator > p {
    display: table;
    margin: 0 auto;
    background: #fff;
    position: relative;
    z-index: 2;
    padding: 0 7px;
    color: #8c8c8c;
    font-size: 14px;
}
.theme-login-social-login-facebook {
    background: #3b5998;
}
.theme-login-social-login-facebook, .theme-login-social-login-google {
    display: block;
    padding: 10px 12px;
    color: #fff;
    overflow: hidden;
    border-radius: 3px;
    text-decoration: none !important;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -ms-transition: 0.3s;
    transition: 0.3s;
}
.theme-login-social-login-facebook:hover, .theme-login-social-login-google:hover {

    color: #fff;

}
.theme-login-social-login-facebook:hover {
    background: #324c81;
}
.theme-login-social-login-facebook .fa, .theme-login-social-login-google .fa {
    display: block;
    float: left;
    margin-right: 10px;
    font-size: 30px;
    text-shadow: 2px 3px 5px rgb(0 0 0 / 15%);
}
.theme-login-social-login-facebook span, .theme-login-social-login-google span {
    display: table;
    line-height: 15px;
    font-size: 15px;
    opacity: 0.9;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
    filter: alpha(opacity=90);
}
.theme-login-social-login-google {
    background: #db4437;
}
.theme-login-social-login-google:hover {
    background: #c53024;
}
.login-g{
    box-shadow: 0px 0px 12px 0px rgb(0 0 0 / 10%); 
    padding:30px 60px; 
    background: #fff;
}
@media screen and (max-width: 767px) {
    .login-g{
        box-shadow: 0px 0px 12px 0px rgb(0 0 0 / 10%); 
        padding:30px 20px; 
        background: #fff;
    }
}

.colorb{
    color:#00336E;
}
.list-4 li, .list-3 li, .list-2 li, .list-1 li {
    font-family: 'rsuregular', sans-serif;
}
#navigation.style-1 ul a {
    line-height: 32px;
    padding: 5px 5px;
}
#footer ul.footer-links {
    width: 100%;
}
#footer.dark {
    background: #F5F5F5;
    color: #333333;
}
#footer.dark .text-widget, #footer.dark .text-widget span, #footer.dark .footer-links li a {
    color: #084BA8;
}
#footer.dark .footer-links li:before {
    color: #729ECC;
}
#footer.dark .text-widget, #footer.dark .text-widget span, #footer.dark .footer-links li a:hover {
    color: #729ECC;
}
#footer.dark a, #footer.dark h4, #footer.dark a:hover {
    color: #001D3E;
}
#footer.dark .text-widget h5{
    color: #084BA8;
    font-weight: 700;
}
.address_robo{
    color: #333333 !important
}
.contact_robo{
    color: #084BA8 !important;
}
#footer.dark .copyrights {
    color: #333333;
    border-top: 1px solid #D4DDE3;
}
#logo img {
    max-height: 62px;
}
#logo {
    margin-top: -8px;
}
.tp-caption .caption-text {
    color: #fff;
}
.headline span {
    
}
h1, h2, h3, h4, h5, h6 {
    color: #001D3E;
    font-family: 'rsubold', sans-serif;
}

.kim_service_index{
  padding: 20px;
  min-height:380px;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 767px) {
    .kim_service_index{
        padding: 10px;
        min-height:280px;
        display: block;
        align-items: center;
      }
}
.cus img {
    max-height:140px;
    margin-top:15px;
    margin-bottom:15px;
}
.txt_blue{
    color:#084BA8;
}
#navigation.style-1 ul ul li a {
    font-size: 16px;
}
#navigation.style-1 ul ul li a:hover {
    color:#084BA8;
}
.tag_z{
    position: relative;
    top: -10px;
    background: #f91942;
    font-size: 11px;
    border-radius: 50px;
    padding: 3px 8px;
    line-height: 20px;
    color: #fff;
    font-weight: 400;
    margin-bottom: 9px;
    letter-spacing: 2.5px;
}
.item_pp{
    font-size: 16px;
}
.text_price_h h2{
    color:#fff;
}
.text_price_h h5{
    color:#fff;
}
.h2_pack{
    color:#fff;
}
.h4_pack{
    color:#fff !important
}
.plan.featured {
    margin-left: -1px;
    margin-right: -1px;
    transform: translateY(-53px);
    border-radius: 0 0 4px 4px;
    z-index: 11;
}
.plan-price .value strong{
    position: relative;
    font-size: 22px;
    color:#F06157;
    top: -10px;
}
.plan-price .value {

    color:#F06157;
  
}
.plan-price h3 {
    margin: 0;
    color: #001D3E;
    font-weight: 400;
    font-size: 22px;
}
.plan.featured .plan-price .value strong
{
    color: #fff;
}
.plan-features ul li {
    font-size: 15px;
}
.text_blue_check{
    color:#084BA8;
    font-size: 22px;
}
.text_blue{
    color:#084BA8;
}
.pay-form .button {
    padding: 6px 14px;
    line-height: 18px;
    height: auto;
    min-width: 20px;
    margin-left: 8px;
    font-size: 14px;
    vertical-align: middle;
}
.wrapper2{
    background-color: #001D3E !important;
}
.header2{
    background-color: #fff !important;
}
.icon_pigs{
    max-height: 100px;
}
.add-review-box {
    min-height: 200px;
    border-radius: 35px;
    background-color: #ffffff;
    padding: 36px;
    padding-bottom: 40px;
    margin-bottom: 55px;
    margin-top: 50px;
    display: inline-block;
    width: 100%;
    position: relative;
}
.add-card-button{
    position: relative;
    font-weight: 600;
    font-size: 14px;
    left: 0;
    z-index: 10;
    text-align: center;
    display: inline-block;
    opacity: 1;
    visibility: visible;
    padding: 5px 20px;
    color: #666;
    background-color: #f2f2f2;
    border-radius: 50px;
    min-width: 100px;
    color:#084BA8;
}
.sp_text{
    font-size: 16px;
    padding-left: 5px;;
}

.pay_my_order{
    font-size: 14px;
    margin-bottom: 15px;
    position: relative;
display: block;
overflow: hidden;
padding: 0 0 0 18px;
height: 51px;
line-height: 50px;
border: 1px solid #dbdbdb;
box-shadow: 0 1px 3px 0px rgb(0 0 0 / 8%);
background-color: #fff;
color: #000;
text-decoration: none;
white-space: nowrap;
font-weight: 500;
border-radius: 4px;
}
.item_package{
    font-size: 18px !important;
font-weight: 600;
}

.logo_payy1{
    height: 20px;
}
@media screen and (max-width: 767px) {
    .pay_my_order{
        font-size:14px;
    }
    .logo_payy1{
    height:18px;
}
#sign-in-dialog, #small-dialog{
    padding: 0px 15px 15px 15px;
}
#sign-in-dialog, #small-dialog {
max-width: 100vw;
}
.small-dialog-header {
width: calc(100% + 30px);
left: -15px;
padding: 30px;
}
}
.card-credit-avatar{
    max-width: 50px;
    height: auto;
    overflow: hidden;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: -0px;
    image-rendering: -webkit-optimize-contrast;
}
.card-credit-name {
    font-size: 14px;
    top:10px;
    position: relative;
    left: 55px;
}
.card-credit-name span{
    font-size: 14px;
    color:#666;
}
.card-credit-name2 {
    font-size: 14px;
    top:10px;
    position: relative;
    left: 5px;
}
.card-credit-name2 span{
    font-size: 14px;
    color:#666;
}
.card-credit-name2 h6 {
    font-size: 16px;
    margin: 0;
    padding: 0;
}
.send_email{
    top: -30px;
    position: relative;
    padding: 0;
    margin: 0;
    font-size: 14px;
    color: #666;
}
.exp_card{
    top:-10px;
    position: relative;
}
.pay-form2 .button {
    margin-top: 18px;
    padding: 8px 20px;
    line-height: 25px;
    height: auto;
    min-width: 40px;
    margin-left: 8px;
    font-size: 15px;
    vertical-align: middle;
}
.button-confirmation-btn{
    background-color: #084BA8;
    top: 0;
    padding: 9px 20px;
    color: #fff;
    position: relative;
    font-size: 15px;
    font-weight: 600;
    display: inline-block;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    margin-right: 6px;
    overflow: hidden;
    border: none;
    border-radius: 50px;
    text-align: center;
    min-width: 110px;
}
.button-confirmation-btn:hover{
    color: #fff;
    background-color: #00336E;
}
.w-80-p{
    width: 80%;
}
.black_text{
    color: #333333
}
.btn-back-kim{
    margin: 20px 0px 0px 0px !important;
    width: 100% !important;
    text-align: center;
}
.my_select{
    padding-top: 15px;
}
.check_success{
    font-size: 195px;
    margin-top: 41px;
    height: 200px;
    width: 200px;
    color:#7FB344;
}
.text_sucess_head{
    font-size: 36px;
    line-height: 46px;

}
.item_ppo{
    margin-top: 10px;
    font-size: 20px;
    color: #687178;
    text-align: center;
}
.wrapper3{
    background-color: #fff !important;
}
.login-new {
    border-radius: 35px;
}
.checkboxes label {

    font-size: 20px;
}
.lost_password a {
    font-size: 20px;
    color: #084BA8;
}
@media screen and (max-width: 767px) {
    .check_success{
        font-size: 150px;
    margin-top: 10px;
    max-height: 140px;
    max-width: 140px;
    color: #7FB344;
    }
    .text_sucess_head{
        font-size: 28px;
        line-height: 36px;
    }
    .checkboxes label {

        font-size: 16px;
    }
    .lost_password a {
        font-size: 16px;
        color: #084BA8;
    }

}

